
<!doctype html>
<html lang="en">
<head th:replace="common :: common-header" />

<body>
	<div th:replace="common :: common-navbar" />
	<br>

	<div th:if="${forgotPasswordEmailSent}"
		class="alert alert-success alert-dismissible">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Success!</strong> Password reset link will be sent to your
		email.
	</div>

	<div th:if="${emailNotExist}"
		class="alert alert-warning alert-dismissible">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Warning!</strong> User not registered with this email. Please
		check your email address
	</div>

	<div class="wrapper card card-default col-4 mx-auto border-success">


		<form th:action="@{/user/tempPassword}" method="post" class="form-signin">
<br>
			<h2 class="text-center">Enter your New Password</h2>
			<div class="card-body">
										<div class="form-group">
							<label for="newPassword"> * Enter New Password : </label> <input
								placeholder="Enter New Password here" type="password"
								required="required" class="form-control" id="newPassword"
								name="newPassword" />
						</div>



						<div class="form-group">
							<label for="confirmPassword"> * Confirm Password : </label> <input
								placeholder="Confirm Password here" type="password"
								required="required" class="form-control" id="confirmPassword"
								name="confirmPassword" />
						</div>


				<div class="form-group">
					<button type="submit" class="btn btn-lg btn-success">Submit</button>
					<button type="reset" class="btn btn-lg btn-success">Cancel</button>
					<input type="hidden" name="username" th:value="${user.username}" />
				</div>
			</div>



		</form>


	</div>

	<div th:replace="common :: common-scripts" />



</body>
</html>
